Repository shaliniblitzy/page-object-model-using-python-pytest-selenium-55year, changes with the owners that .github/CODEOWNERS names for each.
All owners: @qa-lead, @ui-automation-team, @authentication-team, @content-team, @performance-team, @automation-utilities-team, @test-data-team, @reporting-team, @devops-team, @documentation-team, @process-team, @devops-lead

.github/CODEOWNERS:

* @qa-lead

# Page Objects ownership
src/test/pages/* @ui-automation-team

# Locators ownership
src/test/locators/* @ui-automation-team

# Test ownership by feature area
src/test/tests/user_registration/* @authentication-team
src/test/tests/user_authentication/* @authentication-team
src/test/tests/story_creation/* @content-team
src/test/tests/story_sharing/* @content-team
src/test/tests/performance/* @performance-team
src/test/tests/end_to_end/* @qa-lead

# Test infrastructure ownership
src/test/utilities/* @automation-utilities-team
src/test/fixtures/* @test-data-team
src/test/data/* @test-data-team
src/test/config/* @automation-utilities-team
src/test/reports/* @reporting-team
src/test/scripts/* @devops-team
src/test/docs/* @documentation-team
src/test/ci/* @devops-team

# GitHub workflow and process files
.github/workflows/* @devops-team
.github/ISSUE_TEMPLATE/* @process-team
.github/PULL_REQUEST_TEMPLATE.md @process-team

# Infrastructure files
infrastructure/* @devops-team

# Documentation files
README.md @documentation-team
src/test/README.md @documentation-team

# CODEOWNERS file itself
.github/CODEOWNERS @qa-lead @devops-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/locators/dashboard_locators.py
  src/test/locators/dashboard_locators.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/locators/error_locators.py
  src/test/locators/error_locators.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/locators/mailinator_locators.py
  src/test/locators/mailinator_locators.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/locators/notification_locators.py
  src/test/locators/notification_locators.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/locators/share_dialog_locators.py
  src/test/locators/share_dialog_locators.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/locators/shared_story_locators.py
  src/test/locators/shared_story_locators.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/locators/signin_locators.py
  src/test/locators/signin_locators.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/locators/signup_locators.py
  src/test/locators/signup_locators.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/locators/story_editor_locators.py
  src/test/locators/story_editor_locators.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/locators/template_selection_locators.py
  src/test/locators/template_selection_locators.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/locators/user_profile_locators.py
  src/test/locators/user_profile_locators.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/locators/verification_locators.py
  src/test/locators/verification_locators.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/pages/__init__.py
  src/test/pages/__init__.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/pages/base_page.py
  src/test/pages/base_page.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/pages/dashboard_page.py
  src/test/pages/dashboard_page.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/pages/error_page.py
  src/test/pages/error_page.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/pages/mailinator_page.py
  src/test/pages/mailinator_page.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/pages/notification_page.py
  src/test/pages/notification_page.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/pages/share_dialog_page.py
  src/test/pages/share_dialog_page.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/pages/shared_story_page.py
  src/test/pages/shared_story_page.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/pages/signin_page.py
  src/test/pages/signin_page.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/pages/signup_page.py
  src/test/pages/signup_page.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/pages/story_editor_page.py
  src/test/pages/story_editor_page.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/pages/template_selection_page.py
  src/test/pages/template_selection_page.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/pages/user_profile_page.py
  src/test/pages/user_profile_page.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/pages/verification_page.py
  src/test/pages/verification_page.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/scripts/cleanup.bat
  src/test/scripts/cleanup.bat
Owners: @devops-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/scripts/cleanup.sh
  src/test/scripts/cleanup.sh
Owners: @devops-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/scripts/generate_report.bat
  src/test/scripts/generate_report.bat
Owners: @devops-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/scripts/generate_report.sh
  src/test/scripts/generate_report.sh
Owners: @devops-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/scripts/install_dependencies.bat
  src/test/scripts/install_dependencies.bat
Owners: @devops-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/scripts/install_dependencies.sh
  src/test/scripts/install_dependencies.sh
Owners: @devops-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/scripts/run_performance_tests.bat
  src/test/scripts/run_performance_tests.bat
Owners: @devops-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/scripts/run_performance_tests.sh
  src/test/scripts/run_performance_tests.sh
Owners: @devops-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/scripts/run_tests.bat
  src/test/scripts/run_tests.bat
Owners: @devops-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/scripts/run_tests.sh
  src/test/scripts/run_tests.sh
Owners: @devops-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/scripts/setup_environment.bat
  src/test/scripts/setup_environment.bat
Owners: @devops-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/scripts/setup_environment.sh
  src/test/scripts/setup_environment.sh
Owners: @devops-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/__init__.py
  src/test/tests/__init__.py
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/end_to_end/__init__.py
  src/test/tests/end_to_end/__init__.py
Owners: @qa-lead
