Repository shaliniblitzy/page-object-model-using-python-pytest-selenium-55year, changes with the owners that .github/CODEOWNERS names for each.
All owners: @qa-lead, @ui-automation-team, @authentication-team, @content-team, @performance-team, @automation-utilities-team, @test-data-team, @reporting-team, @devops-team, @documentation-team, @process-team, @devops-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/end_to_end/test_complete_workflow.py
  src/test/tests/end_to_end/test_complete_workflow.py
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/end_to_end/test_story_lifecycle.py
  src/test/tests/end_to_end/test_story_lifecycle.py
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/end_to_end/test_user_journey.py
  src/test/tests/end_to_end/test_user_journey.py
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/performance/__init__.py
  src/test/tests/performance/__init__.py
Owners: @performance-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/performance/test_page_load_time.py
  src/test/tests/performance/test_page_load_time.py
Owners: @performance-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/performance/test_response_time.py
  src/test/tests/performance/test_response_time.py
Owners: @performance-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/performance/test_sla_compliance.py
  src/test/tests/performance/test_sla_compliance.py
Owners: @performance-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/story_creation/__init__.py
  src/test/tests/story_creation/__init__.py
Owners: @content-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/story_creation/test_create_story.py
  src/test/tests/story_creation/test_create_story.py
Owners: @content-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/story_creation/test_save_story.py
  src/test/tests/story_creation/test_save_story.py
Owners: @content-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/story_creation/test_select_template.py
  src/test/tests/story_creation/test_select_template.py
Owners: @content-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/story_creation/test_story_content.py
  src/test/tests/story_creation/test_story_content.py
Owners: @content-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/story_creation/test_story_editor_interface.py
  src/test/tests/story_creation/test_story_editor_interface.py
Owners: @content-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/story_creation/test_story_validation.py
  src/test/tests/story_creation/test_story_validation.py
Owners: @content-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/story_creation/test_template_selection.py
  src/test/tests/story_creation/test_template_selection.py
Owners: @content-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/story_sharing/__init__.py
  src/test/tests/story_sharing/__init__.py
Owners: @content-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/story_sharing/test_access_shared_story.py
  src/test/tests/story_sharing/test_access_shared_story.py
Owners: @content-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/story_sharing/test_email_delivery.py
  src/test/tests/story_sharing/test_email_delivery.py
Owners: @content-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/story_sharing/test_recipient_validation.py
  src/test/tests/story_sharing/test_recipient_validation.py
Owners: @content-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/story_sharing/test_share_story.py
  src/test/tests/story_sharing/test_share_story.py
Owners: @content-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/story_sharing/test_sharing_confirmation.py
  src/test/tests/story_sharing/test_sharing_confirmation.py
Owners: @content-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/story_sharing/test_sharing_interface.py
  src/test/tests/story_sharing/test_sharing_interface.py
Owners: @content-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/story_sharing/test_sharing_permissions.py
  src/test/tests/story_sharing/test_sharing_permissions.py
Owners: @content-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/user_authentication/__init__.py
  src/test/tests/user_authentication/__init__.py
Owners: @authentication-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/user_authentication/test_authentication_errors.py
  src/test/tests/user_authentication/test_authentication_errors.py
Owners: @authentication-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/user_authentication/test_authentication_redirect.py
  src/test/tests/user_authentication/test_authentication_redirect.py
Owners: @authentication-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/user_authentication/test_invalid_credentials.py
  src/test/tests/user_authentication/test_invalid_credentials.py
Owners: @authentication-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/user_authentication/test_remember_me.py
  src/test/tests/user_authentication/test_remember_me.py
Owners: @authentication-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/user_authentication/test_session_management.py
  src/test/tests/user_authentication/test_session_management.py
Owners: @authentication-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/user_authentication/test_valid_authentication.py
  src/test/tests/user_authentication/test_valid_authentication.py
Owners: @authentication-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/user_registration/__init__.py
  src/test/tests/user_registration/__init__.py
Owners: @authentication-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/user_registration/test_email_verification.py
  src/test/tests/user_registration/test_email_verification.py
Owners: @authentication-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/user_registration/test_mailinator_integration.py
  src/test/tests/user_registration/test_mailinator_integration.py
Owners: @authentication-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/user_registration/test_registration_errors.py
  src/test/tests/user_registration/test_registration_errors.py
Owners: @authentication-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/user_registration/test_registration_form.py
  src/test/tests/user_registration/test_registration_form.py
Owners: @authentication-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/user_registration/test_registration_validation.py
  src/test/tests/user_registration/test_registration_validation.py
Owners: @authentication-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/tests/user_registration/test_valid_registration.py
  src/test/tests/user_registration/test_valid_registration.py
Owners: @authentication-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/utilities/__init__.py
  src/test/utilities/__init__.py
Owners: @automation-utilities-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/utilities/assertion_helper.py
  src/test/utilities/assertion_helper.py
Owners: @automation-utilities-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/utilities/cleanup_helper.py
  src/test/utilities/cleanup_helper.py
Owners: @automation-utilities-team

.github/CODEOWNERS:

* @qa-lead

# Page Objects ownership
src/test/pages/* @ui-automation-team

# Locators ownership
src/test/locators/* @ui-automation-team

# Test ownership by feature area
src/test/tests/user_registration/* @authentication-team
src/test/tests/user_authentication/* @authentication-team
src/test/tests/story_creation/* @content-team
src/test/tests/story_sharing/* @content-team
src/test/tests/performance/* @performance-team
src/test/tests/end_to_end/* @qa-lead

# Test infrastructure ownership
src/test/utilities/* @automation-utilities-team
src/test/fixtures/* @test-data-team
src/test/data/* @test-data-team
src/test/config/* @automation-utilities-team
src/test/reports/* @reporting-team
src/test/scripts/* @devops-team
src/test/docs/* @documentation-team
src/test/ci/* @devops-team

# GitHub workflow and process files
.github/workflows/* @devops-team
.github/ISSUE_TEMPLATE/* @process-team
.github/PULL_REQUEST_TEMPLATE.md @process-team

# Infrastructure files
infrastructure/* @devops-team

# Documentation files
README.md @documentation-team
src/test/README.md @documentation-team

# CODEOWNERS file itself
.github/CODEOWNERS @qa-lead @devops-lead
