Repository shaliniblitzy/page-object-model-using-python-pytest-selenium-55year, changes with the owners that .github/CODEOWNERS names for each.
All owners: @qa-lead, @ui-automation-team, @authentication-team, @content-team, @performance-team, @automation-utilities-team, @test-data-team, @reporting-team, @devops-team, @documentation-team, @process-team, @devops-lead

.github/CODEOWNERS:

* @qa-lead

# Page Objects ownership
src/test/pages/* @ui-automation-team

# Locators ownership
src/test/locators/* @ui-automation-team

# Test ownership by feature area
src/test/tests/user_registration/* @authentication-team
src/test/tests/user_authentication/* @authentication-team
src/test/tests/story_creation/* @content-team
src/test/tests/story_sharing/* @content-team
src/test/tests/performance/* @performance-team
src/test/tests/end_to_end/* @qa-lead

# Test infrastructure ownership
src/test/utilities/* @automation-utilities-team
src/test/fixtures/* @test-data-team
src/test/data/* @test-data-team
src/test/config/* @automation-utilities-team
src/test/reports/* @reporting-team
src/test/scripts/* @devops-team
src/test/docs/* @documentation-team
src/test/ci/* @devops-team

# GitHub workflow and process files
.github/workflows/* @devops-team
.github/ISSUE_TEMPLATE/* @process-team
.github/PULL_REQUEST_TEMPLATE.md @process-team

# Infrastructure files
infrastructure/* @devops-team

# Documentation files
README.md @documentation-team
src/test/README.md @documentation-team

# CODEOWNERS file itself
.github/CODEOWNERS @qa-lead @devops-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @process-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @process-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @process-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/.github/workflows/build.yml
  .github/workflows/build.yml
Owners: @devops-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/.github/workflows/deploy.yml
  .github/workflows/deploy.yml
Owners: @devops-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/.github/workflows/test.yml
  .github/workflows/test.yml
Owners: @devops-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/infrastructure/README.md
  infrastructure/README.md
Owners: @documentation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/infrastructure/docker/.dockerignore
  infrastructure/docker/.dockerignore
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/infrastructure/docker/Dockerfile
  infrastructure/docker/Dockerfile
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/infrastructure/docker/README.md
  infrastructure/docker/README.md
Owners: @documentation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/infrastructure/docker/docker-compose.yml
  infrastructure/docker/docker-compose.yml
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/infrastructure/kubernetes/README.md
  infrastructure/kubernetes/README.md
Owners: @documentation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/infrastructure/kubernetes/configmap.yaml
  infrastructure/kubernetes/configmap.yaml
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/infrastructure/kubernetes/deployment.yaml
  infrastructure/kubernetes/deployment.yaml
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/infrastructure/kubernetes/ingress.yaml
  infrastructure/kubernetes/ingress.yaml
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/infrastructure/kubernetes/namespace.yaml
  infrastructure/kubernetes/namespace.yaml
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/infrastructure/kubernetes/secret.yaml
  infrastructure/kubernetes/secret.yaml
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/infrastructure/kubernetes/service.yaml
  infrastructure/kubernetes/service.yaml
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/infrastructure/terraform/README.md
  infrastructure/terraform/README.md
Owners: @documentation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/.env.example
  src/test/.env.example
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/.gitignore
  src/test/.gitignore
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/README.md
  src/test/README.md
Owners: @documentation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/__init__.py
  src/test/__init__.py
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/conftest.py
  src/test/conftest.py
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/pytest.ini
  src/test/pytest.ini
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/requirements.txt
  src/test/requirements.txt
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/setup.py
  src/test/setup.py
Owners: @qa-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/ci/Dockerfile
  src/test/ci/Dockerfile
Owners: @devops-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/ci/azure_pipelines.yml
  src/test/ci/azure_pipelines.yml
Owners: @devops-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/ci/docker-compose.yml
  src/test/ci/docker-compose.yml
Owners: @devops-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/ci/github_actions.yml
  src/test/ci/github_actions.yml
Owners: @devops-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/ci/gitlab_ci.yml
  src/test/ci/gitlab_ci.yml
Owners: @devops-team
