Repository shaliniblitzy/page-object-model-using-python-pytest-selenium-55year, changes with the owners that .github/CODEOWNERS names for each.
All owners: @qa-lead, @ui-automation-team, @authentication-team, @content-team, @performance-team, @automation-utilities-team, @test-data-team, @reporting-team, @devops-team, @documentation-team, @process-team, @devops-lead

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/ci/jenkins_pipeline.groovy
  src/test/ci/jenkins_pipeline.groovy
Owners: @devops-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/config/__init__.py
  src/test/config/__init__.py
Owners: @automation-utilities-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/config/browser_config.py
  src/test/config/browser_config.py
Owners: @automation-utilities-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/config/config.py
  src/test/config/config.py
Owners: @automation-utilities-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/config/constants.py
  src/test/config/constants.py
Owners: @automation-utilities-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/config/element_config.py
  src/test/config/element_config.py
Owners: @automation-utilities-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/config/environment_config.py
  src/test/config/environment_config.py
Owners: @automation-utilities-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/config/mailinator_config.py
  src/test/config/mailinator_config.py
Owners: @automation-utilities-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/config/reporting_config.py
  src/test/config/reporting_config.py
Owners: @automation-utilities-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/config/sla_config.py
  src/test/config/sla_config.py
Owners: @automation-utilities-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/config/timeout_config.py
  src/test/config/timeout_config.py
Owners: @automation-utilities-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/config/urls.py
  src/test/config/urls.py
Owners: @automation-utilities-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/data/__init__.py
  src/test/data/__init__.py
Owners: @test-data-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/data/invalid_data.json
  src/test/data/invalid_data.json
Owners: @test-data-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/data/mailinator_domains.json
  src/test/data/mailinator_domains.json
Owners: @test-data-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/data/performance_thresholds.json
  src/test/data/performance_thresholds.json
Owners: @test-data-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/data/story_data.json
  src/test/data/story_data.json
Owners: @test-data-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/data/template_data.json
  src/test/data/template_data.json
Owners: @test-data-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/data/test_data.json
  src/test/data/test_data.json
Owners: @test-data-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/data/user_data.json
  src/test/data/user_data.json
Owners: @test-data-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/docs/best_practices.md
  src/test/docs/best_practices.md
Owners: @documentation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/docs/ci_cd_integration.md
  src/test/docs/ci_cd_integration.md
Owners: @documentation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/docs/extending_framework.md
  src/test/docs/extending_framework.md
Owners: @documentation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/docs/framework_overview.md
  src/test/docs/framework_overview.md
Owners: @documentation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/docs/mailinator_integration.md
  src/test/docs/mailinator_integration.md
Owners: @documentation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/docs/page_objects.md
  src/test/docs/page_objects.md
Owners: @documentation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/docs/performance_testing.md
  src/test/docs/performance_testing.md
Owners: @documentation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/docs/reporting_guide.md
  src/test/docs/reporting_guide.md
Owners: @documentation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/docs/setup_guide.md
  src/test/docs/setup_guide.md
Owners: @documentation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/docs/test_cases.md
  src/test/docs/test_cases.md
Owners: @documentation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/docs/troubleshooting.md
  src/test/docs/troubleshooting.md
Owners: @documentation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/fixtures/__init__.py
  src/test/fixtures/__init__.py
Owners: @test-data-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/fixtures/browser_fixtures.py
  src/test/fixtures/browser_fixtures.py
Owners: @test-data-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/fixtures/email_fixtures.py
  src/test/fixtures/email_fixtures.py
Owners: @test-data-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/fixtures/performance_fixtures.py
  src/test/fixtures/performance_fixtures.py
Owners: @test-data-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/fixtures/story_fixtures.py
  src/test/fixtures/story_fixtures.py
Owners: @test-data-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/fixtures/template_fixtures.py
  src/test/fixtures/template_fixtures.py
Owners: @test-data-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/fixtures/user_fixtures.py
  src/test/fixtures/user_fixtures.py
Owners: @test-data-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/locators/__init__.py
  src/test/locators/__init__.py
Owners: @ui-automation-team

Add public-samples/page-object-model-using-python-pytest-selenium-55year/src/test/locators/base_locators.py
  src/test/locators/base_locators.py
Owners: @ui-automation-team

.github/CODEOWNERS:

* @qa-lead

# Page Objects ownership
src/test/pages/* @ui-automation-team

# Locators ownership
src/test/locators/* @ui-automation-team

# Test ownership by feature area
src/test/tests/user_registration/* @authentication-team
src/test/tests/user_authentication/* @authentication-team
src/test/tests/story_creation/* @content-team
src/test/tests/story_sharing/* @content-team
src/test/tests/performance/* @performance-team
src/test/tests/end_to_end/* @qa-lead

# Test infrastructure ownership
src/test/utilities/* @automation-utilities-team
src/test/fixtures/* @test-data-team
src/test/data/* @test-data-team
src/test/config/* @automation-utilities-team
src/test/reports/* @reporting-team
src/test/scripts/* @devops-team
src/test/docs/* @documentation-team
src/test/ci/* @devops-team

# GitHub workflow and process files
.github/workflows/* @devops-team
.github/ISSUE_TEMPLATE/* @process-team
.github/PULL_REQUEST_TEMPLATE.md @process-team

# Infrastructure files
infrastructure/* @devops-team

# Documentation files
README.md @documentation-team
src/test/README.md @documentation-team

# CODEOWNERS file itself
.github/CODEOWNERS @qa-lead @devops-lead
